<%= form_for @profile, :html => {:multipart => true} do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :adress %>
      <br/>
      <%= f.text_field :adress %>
    </div>
    <%= file_field_tag "user_asset[photo]", :onchange => "readURL(this)" %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<img src="" id="image" style="width: 200px; height: 100px"/>


<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);

            }

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>