<div class ="notice"><p id="notice"><%= notice %></p></div>

<div class="profile">
  <div class="left_profile">
  <div class="profile_name_img">

    <% unless @profile.photo.blank? %>
    <%= image_tag(@profile.photo.url) %>
<% end %>
    </div>
  </div>
   <div class="right_profile">
     <div class="profile_name">
    <span> <%= @profile.user.first_name %> &nbsp
<%= @profile.user.last_name %></span>
    </div>
<div class="profile_name">
    <span> <%= @profile.adress %></span>
    </div>
  <div class="profile_name">
    <p> <%= @profile.intro %></p>
    </div>
</div>
  </div>
<% if user_signed_in? %>
<div class ="username1">
  <%= link_to 'New Post', posts_path %>
</div>
<div class="postbtn">
<%= link_to 'Edit', edit_profile_path(@profile) %> 
<%= link_to 'Back', profiles_path %> 
</div>
<% end %>