<div class ="notice"><p id="notice"><%= notice %></p></div>
<div class="listing"><h1>Welcome</h1></div>
<div class="search">
<%= form_tag posts_path, :method => :get do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search", :name => nil %>
<% end %>
</div>
<div class ="myblog"><%if user_signed_in?%><%= link_to "My Blog", posts_path %><%  end%></div>
<% @posts.each do |post| %>
  <div class ="blog">
    <div class ="blog-left">
      <%= image_tag "nophoto.png" %>
    </div>
    <div class ="blog-mid">

      <div class="btitle">
        <p><%= post.title %></p>
      </div>
      <div class="bname">
        <p><%= post.name %></p>

      </div>
      <div class="bcontent">
        <p><%=h truncate(post.content, :length => 180)%></p>
        <%= link_to "[see more...]", {:controller => "posts", :action => "show", :id => post.id }%>
      </div>
      <div class="bcat">
        <span>Category: </span><p><%= post.category.category_name %></p>
      </div>
    </div>
    <div class ="blog-right">
    </div>
  </div>
<% end %>

<div class ="bloggers">

<%@users.each do |f|%>
<% unless f.profile.blank?%>
  <div class="bloggers_info">
<% profile = f.profile %>
    <div class="left_blogger">
      <% if profile.photo.blank? %>
      <%= image_tag 'nophoto.png' %>
      <% else %>
    <%= image_tag profile.photo.url %>
      <% end %>
    </div>
    <div class ="right_blogger">
    <div class="blogger_fname"><%= link_to f.first_name , {:controller => "profiles", :action => "show", :id => profile.id }%>&nbsp;<%= link_to f.last_name , {:controller => "profiles", :action => "show", :id => profile.id }%></div>
      <div class="blogger_intro">
      <p><%=h truncate(profile.intro, :length => 100)%></p>
    </div>
    </div>
</div>
<%end%>
<%end%>
</div>









