

<div class ="listing">
  <h1>Listing posts</h1>
</div>

<% @posts.each do |post| %>

  <div class ="post">
    <div class ="post-left">
      <%=  image_tag 'nophoto.png'%>
    </div>
    <div class ="post-mid">
      <div class="ptitle">
        <p><%= post.title %></p>
      </div>
      <div class="pname">
        <p><%= post.name %></p>
      </div>
      
      <div class="pcontent">
        <p><%=h truncate(post.content, :length => 180)%></p>
      </div>
      <div class="ptype">
        <span>Category: </span><p><%= post.category_id %></p>
      </div>
    </div>
    <% if user_signed_in? %>
    <div class ="post-right">
     <div class ="showbtn"><%= link_to 'Show', post %></div>
     <div class ="showbtn"><%= link_to 'Edit', edit_post_path(post) %></div>
     <div class ="showbtn"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    <% end %>
  </div>
<% end %>

<div class ="postbtn">
  <% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
  <% end %>
  <%= link_to "Home", 'home/index' %>
</div>

<br />


