<div class ="notice"><p id="notice"><%= notice %></p></div>

<div class ="post">
  <div class ="post-left">
    <%=  image_tag 'nophoto.png'%>
  </div>
  <div class ="post-mid">
    <div class="ptitle">
      <p> <%= @post.title %></p>
    </div>
    <div class="pname">
      <p><%= @post.name %></p>
    </div>

    <div class="pcontent">
      <p><%= @post.content %></p>
    </div>
    <div class="ptype">
      <span>Category: </span><p><%= @post.category_id %></p>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class ="linkbtns">
  <div class ="backbtn"><%= link_to 'Edit Post', edit_post_path(@post) %></div>
  <div class ="backbtn"><%= link_to 'Back to Posts', posts_path %></div>
</div>
  <% end %>
</div>
<div class ="listing"><h2>Comments</h2></div>
<% @post.comments.each do |comment| %>
  <div class="comments">
    <div class ="comment_name">
      <p>
        <%= comment.commenter %>
      </p>
    </div>
    <div class ="comment_content">
      <p>
        <%= comment.body %>
      </p>
    </div>
  </div>
<% end %>
<% if user_signed_in? %>

<div class ="listing"><h2>Add a comment:</h2></div>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="name">
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
  </div>
  <div class="name">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="actions" style ="margin-left: 391px !important">
    <%= f.submit %>
  </div>
<% end %>
<% else %>
<div class ="backbtn"><%= link_to "Home", '/home/index' %></div>
<% end %>