<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class ="logo">
   <%= link_to image_tag("logo1.png", :border => 0), {:action => 'index', :controller => 'home'}, :class => 'dock-item'%>
  </div>
  <div class ="username">
  <%- if user_signed_in? %> <span>Welcome</span> <p><%= current_user.email %></p>
  <%= link_to 'Profile', profiles_path %><%end%>
</div>
  <div class ="login_menu">
    <ul>
  <%= render 'users/menu/registration_items' %>
  <%= render 'users/menu/login_items' %>
</ul></div>
  
<%= yield %>



</body>
</html>
